{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>User Management</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.email }}</td>
                <td>{% if object.is_active %}Active{% else %}Blocked{% endif %}</td>
                <td>
                    {% if object != user %}
                    <a href="{% url 'mailing:toggle_user_status' object.pk %}"
                        class="btn btn-sm {% if object.is_active %}btn-danger{% else %}btn-success{% endif %}">
                        {% if object.is_active %}Block{% else %}Unblock{% endif %}
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}